# React dotenv

NODE_ENV=development
PORT=8081

# Pour désactiver l'ouverture dans un nouvel onglet
BROWSER=none


# App dotenv

REACT_APP_API_URI=http://localhost:3001

HTTP_REQUEST_INTERVAL=1000