# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store

# local env files
.env*.local
.env

# debug
npm-debug.log*
pnpm-debug.log*
pnpm-error.log*

# CRA Typescript file generated
src/*.d.ts

# typescript
*.tsbuildinfo
next-env.d.ts

TODO.txt
bouffe-captures/

# IDE
.idea/

# next.js
/.next/
/out/

