#login {
  .field {
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: var(--primary-light);
    border-radius: 20px;
    margin: 20px auto;
    font-size: 4em;
  }

  .digits {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 50%;
  }

  .digits .digits-row {
    display: flex;
    justify-content: center;

    .digit {
      width: 30%;
      height: 100px;
      line-height: 100px;
      margin: 10px;
      background-color: var(--primary-light);

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}
