#login {
  margin-top: 30px;
  height: 100%;

  .title {
    font-size: 3em;
  }

  .field {
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: var(--primary-light);
    border-radius: 20px;
    margin: 20px auto;
    font-size: 4em;
  }

  .digits {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 75%;
    height: 100%;
  }

  .digits .digits-row {
    display: flex;
    justify-content: center;
    height: 15%;

    .digit {
      width: 30%;
      height: 90%;
      margin: 10px;
      background-color: var(--primary-light);
      display: flex;
      font-size: 2em;
      flex-direction: column;
      justify-content: center;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}
