#sell {
  height: 95%;
  padding: 10px;
}

#sell .content {
  width: 100%;
  height: 90%;
  display: flex;
}

#sell .content .summary {
  width: 20%;
  background-color: #cc0000;
}

#sell .content .summary .bill {
  height: 80%;
  background-color: #00cc00;
}

#sell .content .summary .pay {
  height: 20%;
  background-color: #0000cc;
}