#tv {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  text-align: center;
  height: 100%;

  .orders {
    padding: 20px;
    width: 100%;
    height: calc(100% - 40px);

    .title {
      padding-bottom: 50px;
    }

    .container {
      height: 85%;
      overflow-y: hidden;

      .cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }

      .card {
        width: 45%;
        background-color: var(--primary);
        padding: 10px 5px;
        margin: 5px;

        .items {
          flex: 1;
          text-align: left;
          font-size: 0.5em;
        }
      }
    }
  }

  .center {
    position: relative;
    display: flex;
    flex-direction: column;

    .logo {
      position: absolute;
      transform: translateX(-50%);
      width: 100px;
    }

    .separator {
      position: relative;
      top: 110px;
      height: calc(100% - 140px);
      width: 4px;
      background: var(--gradient);
      align-self: center;
    }
  }
}
