#tv {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  text-align: center;
  height: 100%;
  cursor: none;

  .orders {
    padding: 20px;
    width: 100%;
    height: calc(100% - 40px);

    .title {
      padding-bottom: 50px;
    }

    .container {
      height: calc(100% - 88px);
      overflow-y: hidden;

      .cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }

      .card {
        width: calc(50% - 10px - 10px - 4px);
        background-color: var(--primary);
        padding: 10px 5px;
        margin: 5px;
        border: 2px solid;
        border-image: var(--gradient) 1 1;

        .items {
          flex: 1;
          text-align: left;
          font-size: 0.5em;
        }
      }
    }
  }
}
