#tv {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  height: 100%;
  text-align: center;

  .orders {
    padding: 20px;
    width: 100%;
    height: 100%;
    .cards {
      padding-top: 20px;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .card {
      width: 40%;
      background-color: var(--primary);
      padding: 10px 5px;
      margin: 5px;

      .title {
      }

      .items {
        text-align: left;
        font-size: 0.5em;
      }
    }
  }

  .separator {
    height: 90%;
    border-right: 1px solid var(--light);
    align-self: center;
  }
}
