.confirmation-modal {
  display: flex;
  flex-direction: column;

  .total {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
  }

  .important {
    font-weight: bold;
    margin-top: 20px;
    color: var(--danger);

    .fa {
      margin: 0 10px;
    }
  }

  .buttons {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--light);

    .button {
      width: 100%;
      padding: 20px 0;

      &:not(:last-child) {
        margin-right: 20px;
      }

      &:hover {
        filter: brightness(0.9);
      }
    }

    .confirm {
      background-color: var(--success);
    }

    .cancel {
      background-color: var(--danger);
    }
  }
}
