.modal {
  position: absolute;
  --modal-size: 25%;
  top: var(--modal-size);
  left: var(--modal-size);
  right: var(--modal-size);
  bottom: var(--modal-size);
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: var(--primary);
  font-size: 2em;

  // Disable focus border
  &:focus {
    outline: 0;
  }

  .content .button {
    height: 60px;
    line-height: 60px;
    margin: 10px 0px;
    color: var(--light);
    position: relative;

    &:hover {
      filter: brightness(0.9);
    }

    &.accent {
      background-color: var(--accent);
    }

    &.success {
      background-color: var(--success);
    }

    &.cancel {
      background-color: var(--danger);
    }
  }
}
