.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  background-color: var(--primary-dark);
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: var(--light);
  font-size: 2em;

  // Disable focus border
  &:focus {
    outline: 0;
  }

  .content .button {
    height: 60px;
    line-height: 60px;
    margin: 10px 0px;
    color: var(--light);
    position: relative;

    &:hover {
      filter: brightness(0.9);
    }

    &.accent {
      background-color: var(--color-accent-dark);
    }

    &.success {
      background-color: var(--success);
    }

    &.cancel {
      background-color: var(--danger);
    }
  }
}
