.payment-modal {
  --grid-inner-margin: 1px;
  --card-size: 100px;

  .title .order {
    font-weight: bold;
    color: var(--danger);
  }

  .cancel {
    height: 50px;
    width: 50px;
    line-height: 50px;
    color: var(--light);
    background-color: var(--danger);
    position: absolute;
    top: 0;
    right: 0;
    &:hover {
      filter: brightness(0.9);
    }
  }
  .keyboard {
    display: flex;
    justify-content: space-between;
  }

  .letter-grid {
    display: flex;
    flex-direction: row;

    .card.visitor-card {
      line-height: initial;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: calc(4 * var(--card-size) + 6 * var(--grid-inner-margin));
    }
  }

  .card {
    width: var(--card-size);
    height: var(--card-size);
    line-height: var(--card-size);
    margin: var(--grid-inner-margin);
    background-color: var(--primary);
    color: var(--light);
    &:hover {
      filter: brightness(0.9);
    }

    &.disabled {
      background-color: #cccccc;

      &:hover {
        filter: none;
      }
    }

    &.active {
      background-color: var(--color-accent-dark);
    }

    &.error {
      background-color: var(--danger-dark);
    }
  }

  .keyboard .grid {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      justify-content: space-between;
    }
  }

  .buttons {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    gap: 5px;

    .button {
      width: 100%;
    }

    .button.extra {
      background-color: var(--color-accent-light);
      color: var(--primary-dark);
    }
  }
}
