.preparation-mode-button {
  padding: 0 10px;
  width: 210px;
  text-align: left;
  height: 100%;
  line-height: 50px;

  &.downgrade {
    background-color: var(--warning-dark);
  }
}

#preparation {
  display: flex;
  height: calc(100% - 50px);
  justify-content: space-between;
  background-color: var(--primary);

  .status.service {
    margin: auto;
    width: 100%;
    height: calc(100% - 20px);
    padding: 10px 14px 0;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: var(--primary-light) transparent;
    scrollbar-width: auto;

    .title {
      font-size: 1.5em;
      line-height: 60px;
    }

    // Removes the visuals clicks for pending (because you can't downgrade a pending order)
    &.pending .orders .order .next.downgrade {
      background-color: var(--danger-dark);
    }
  }

  .status .orders.service {
    width: calc(100% - 10px);
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
  }

  .status .orders .order {
    background: var(--primary-light);
    padding-left: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    .titles {
      display: flex;
      flex-direction: column;
      margin: 5px 0;
      width: 20%;

      .place,
      .quantity {
        font-size: 1.75em;
      }

      .place {
        margin-bottom: 10px;
      }
    }

    .items {
      text-align: left;
      margin-right: auto;

      .options {
        font-style: italic;
      }
    }

    &.timewarning:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 10px;
      height: 100%;
    }

    &.orange:before {
      background-color: var(--toastify-color-warning);
    }

    &.red:before {
      background-color: var(--toastify-color-error);
    }

    .next {
      background-color: var(--success);
      width: 20%;
      font-size: 2em;
      position: relative;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: background-color 0.5s ease-in;

      .fa {
        transition:
          transform 0.5s ease-in,
          opacity 0.5s ease-in;
      }

      &.downgrade {
        background-color: var(--warning-dark);

        .fa {
          transform: rotateZ(180deg);
        }
      }

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}

.preparation-modal {
  .actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    .button {
      display: inline-block;
      padding: 40px 100px;
      margin: 0 20px;

      color: #fff;

      &.cancel {
        background: var(--danger);
      }

      &.confirm {
        background: var(--success);
      }

      &.callOrder {
        background: var(--primary);
      }

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}

