html,
body {
  background-color: var(--primary-dark);
  color: var(--light);
  text-align: center;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  user-select: none;
}

#root {
  height: 100%;
}

:root {
  --light: #eeeeee;
  --primary-dark: #222831;
  --primary: #393e46;
  --primary-light: #4a505b;

  --color-accent-dark: #8767aa;
  --color-accent-light: #f0dced;
  --color-accent-primary: #cbd7ef;

  --success: #28a745;
  --warning: #ffc107;
  --danger: #dc3545;

  --success-dark: #1c7430;
  --warning-dark: #b28704;
  --danger-dark: #9a2530;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.logout {
  padding-right: 14px;
}

#index {
  display: flex;
  flex-direction: column;
  justify-content: felx-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  height: calc(100% - 50px);
  font-size: 3em;

  div.link_category {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1.2em auto;
    row-gap: 10px;
    height: calc(33% - 20px);
    width: calc(100% - 20px);
    padding: 10px;

    p {
      font-size: 1em;
      margin: 0px;
      width: max-content;
    }

    div.links_btns {
      height: calc(100%);
      width: 100%;
      display: flex;
      flex-direction: row;

      div {
        height: 100%;
        width: calc(25% - 20px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5vh;
        background-color: var(--primary);
        margin: 0px 10px;
        border-radius: .2em;
    
        &:hover {
          filter: brightness(0.9);
        }
      }
    }
  }

  
}