.basket {
  width: 200px;
  .summary {
    height: 80%;
    background-color: var(--primary-dark);
    overflow: auto;
  }

  .pay {
    height: 20%;
    background-color: var(--success);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;

    * {
      margin: 5px;
    }

    &.disabled {
      filter: brightness(0.6);
    }

    &:hover:not(.disabled) {
      filter: brightness(0.9);
    }
  }

  .basket-item {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    text-align: left;

    .item-name {
      flex: 1 1 75%;
      padding: 10px;
    }

    .remove {
      width: 25%;
      background-color: var(--danger);
      position: relative;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}
