.basket {
  width: 200px;
  .summary {
    height: 80%;
    background-color: var(--primary-dark);
  }

  .pay {
    height: 20%;
    background-color: var(--success);

    &:hover {
      filter: brightness(0.9);
    }
  }

  .basket-item {
    height: 50px;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;


    .remove {
      height: 100%;
      width: 25%;
      background-color: var(--danger);
      position: relative;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}
