.navbar {
  height: 50px;
  margin: 0;
  font-size: 2rem;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    padding: 0 30px;
    margin: auto;
  }

  *:hover {
    filter: brightness(0.9);
  }
}
