.price-toogler {
  width: 200px;
  height: 100%;
  line-height: 50px;
  text-align: left;
  padding-left: 10px;
  background-color: var(--success);

  &.active {
    background-color: var(--color-accent-dark);
  }
}
