html, body {
  background-color: #062429;
  color: #ffffff;
  text-align: center;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#root {
  height: 100%;
}